<!-- add include -->
<%- include('./templates/head') %> <%- include('./templates/header') %>
<%- include('category-bar') %>

<!-- add list of items for each menu -->
<div class="row">
  <% pizzas.forEach( pizza => { %> <% let cateName =
  pizza.category[0].name %>
  <div
    class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center pizza mt-5"
  >
    <a href="/detail/<%= pizza._id %>">
      <img
        class="pizza-img"
        src="img/<%= cateName %>/<%= pizza.name %>.png"
        alt="pizza-img"
      />
      <h4 class="item-name"><%= pizza.name %></h4>
      <p class="price">£<span class="item-price"><%= pizza.price.toFixed(2) %></span></p>

    </a>
      <div>
        <a href="/add-to-cart/<%= pizza._id %>"><button class="btn btn-outline-secondary addToCart">
          <img src="img/icon/shopping-bag.svg" alt="shopping-bag" width="10px">
          Add to cart</button></a>
        <a href="/buy-now/<%= pizza._id %>"><button class="btn btn-success">Buy now</button></a>
      </div>
  </div>

  <% }) %>
</div>


<!-- footer -->
<%- include('./templates/footer') %>

<!-- [mobile ver.] change current path icon to white -->
<script>
document.querySelectorAll('.bottom-nav li')[0].style.color="white";
document.getElementById('moto-icon-hide').style.display = "none";
</script>